#hello_image {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-filter: drop-shadow(5px 5px 5px #4682B4);
    filter: drop-shadow(5px 5px 5px #4682B4);
}

body {
    background-color: rgba(173, 216, 230, 0.5);
}

.container {
    text-align: center;
    color: magenta;
    text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.rotate {
    animation: rotation 18s infinite linear;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(359deg);
    }
}

#demo { 
    position: absolute; 
    top: 10%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    font-family: "Sofia", sans-serif; 
    font-size: 30px; 
    color: blue; 
}