<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FrontEnd (SerKin0)</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Sofia">
    <link rel="stylesheet" href="static/style.css">
    <script src="js/main.js"></script>
</head>
<body>
    <p id="demo"></p>
    <div class="container">
        <div id="hello_image">
            <img src="images/world.png" class="rotate" width=50% height=auto>
        </div>
        <div class="centered">
            <h1 onclick="playAudio('audio/song.mp3')">Hello, World!</h1>
        </div>
    </div>
    <script>
        document.getElementById("hello_image").addEventListener("click", function() { 
            document.getElementById("demo").innerHTML = "Happy New Year"; 
        }); 
    </script>
</body>
</html>